<div class='py-4'>
	<h2>Administración</h2>
	<hr class='w-50' />

	<table class='table w-50 m-auto'>
		<thead>
			<tr>
				<th scope='col'>#</th>
				<th scope='col'>Foto</th>
				<th scope='col'>Nombre</th>
				<th scope='col'>Años de experiencia</th>
				<th scope='col'>Especialidad</th>
				<th scope='col'>Estado</th>
			</tr>
		</thead>
		<tbody>
			{{#each user}}
			<tr>
				<th scope='row'>{{this.id}}</th>
				<td><img class="img" src="/img/{{this.foto}}" alt=""></td>
				<td>{{this.nombre}}</td>
				<td>{{this.anos_experiencia}}</td>
				<td>{{this.especialidad}}</td>
				<td><input type='checkbox' class="check" data-mail={{this.mail}}></td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>

<script>
	const checkbox = document.querySelectorAll('.check');
	checkbox.forEach((check)=>{
		check.addEventListener('click', async(e)=> {
		const mail = e.target.dataset.mail;
		console.log(e.target.checked)
		const estado = e.target.checked
		const data = {
			mail: mail,
			estado: estado
		};
		await fetch('http://localhost:3000/check', {
			method: 'PUT',
			body: JSON.stringify(data),
			headers: {
				'Content-Type': 'application/json'
			}
		});
	});
	})
	
</script>