<div class='py-4'>
	<h2>Datos del perfil</h2>
	<hr class='w-50' />

	<form id="form">
		<div class='form-group row w-50 m-auto'>
		{{#each user}}
			<div class='form-group col-12 col-sm-6'>
				<label>Email</label>
				<input
					class='form-control m-auto'
					disabled
					value={{this.email}}
					id="email"
				/>
			</div>
			<div class='form-group col-12 col-sm-6'>
				<label>Nombre</label>
				<input class='form-control m-auto' value={{this.nombre}} id="nombre" />
			</div>
			<div class='form-group col-12 col-sm-6'>
				<label>Password</label>
				<input type='password' class='form-control m-auto' value={{this.password}} id="pass" />
			</div>
			<div class='form-group col-12 col-sm-6'>
				<label>Repita la password</label>
				<input type='password' class='form-control m-auto' value="" id="pass2"/>
			</div>
			<div class='form-group col-12 col-sm-6'>
				<label>Años de experiencia</label>
				<input class='form-control m-auto' value={{this.anos_experiencia}} id="anos"/>
			</div>
			<div class='form-group col-12 col-sm-6'>
				<label>Especialidad</label>
				<input class='form-control m-auto' value={{this.especialidad}} id="esp"/>
			</div>
			<div class='form-group col-12 col-sm-6'>
				<label>ID</label>
				<input class='form-control m-auto' value={{this.id}} id="id" disabled/>
			</div>
		{{/each}}
		</div>
		<div class='mb-1'>
			<button class='btn btn-primary' type="submit">Actualizar</button>
		</div>
		<div>
			<button class='btn btn-danger' id="delete">Eliminar cuenta</button>
		</div>
	</form>
</div>